@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #2e90fa;
  --color-primary-25: #f5faff; /* AA 5.68 */
  --color-primary-50: #eff8ff; /* AA 5.55 */
  --color-primary-100: #d1e9ff; /* AA 4.78 */
  --color-primary-200: #b2ddff; /* 4.17 */
  --color-primary-300: #84caff; /* 1.77 */
  --color-primary-400: #53b1fd; /* 2.32 */
  --color-primary-500: #2e90fa; /* 3.24 (main) */
  --color-primary-600: #1570ef; /* AA 4.57 */
  --color-primary-700: #175cd3; /* AA 5.97 */
  --color-primary-800: #1849a9; /* AAA */
  --color-primary-900: #194185; /* AAA */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
